<div class="content">

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
      <mat-toolbar>
        <div class="logo">
          <div class="image-logo">
            <img src="assets/image/sarenone-logo.png" alt="img-logo" width="100%">
          </div>
          <div class="name-logo">
            <span>CV. Heaven Sentosa</span>
            <span>SarenOne</span>
          </div>
        </div>
      </mat-toolbar>
      <div class="avatar">
        <img [src]="user.img ? API_URL + user.img : 'assets/image/avatar.png' " alt="img-avatar">
      </div>
      <div class="name">{{user.nickname}}</div>
      <div class="role">{{user.division ? user.division : '-'}}</div>
      <hr />
      <mat-nav-list>

        <a mat-list-item routerLink="/admin">
          <mat-icon>home</mat-icon> <span> Home</span>
        </a>

        <div *ngIf="user.role === 4; else withoutSales1">
          <a mat-list-item routerLink="/admin/store">
            <mat-icon>storefront</mat-icon> <span> Store</span>
          </a>
        </div>
        <ng-template #withoutSales1>
          <a mat-list-item routerLink="/admin/user">
            <mat-icon>manage_accounts</mat-icon> <span> User</span>
          </a>
        </ng-template>

        <div *ngIf="user.role === 4; else withoutSales2">
          <div mat-list-item>
            <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
              <mat-tree-node *matTreeNodeDef="let node">
                <button mat-icon-button disabled></button>
                <a mat-list-item (click)="stockNavigate(node.route)">
                  <span>{{node.name}}</span>
                </a>
              </mat-tree-node>
              <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                <mat-icon>restaurant_menu</mat-icon> <span> {{node.name}}</span>
                <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
                  <mat-icon class="mat-icon-rtl-mirror">
                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                  </mat-icon>
                </button>
              </mat-tree-node>
            </mat-tree>
          </div>
        </div>
        <ng-template #withoutSales2>
          <a mat-list-item routerLink="/admin/product">
            <mat-icon>restaurant_menu</mat-icon> <span> Product</span>
          </a>
        </ng-template>

        <a mat-list-item routerLink="/admin/team" *ngIf="user.role !== 4">
          <mat-icon>groups</mat-icon> <span> Team</span>
        </a>

          <div mat-list-item>
            <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
              <mat-tree-node *matTreeNodeDef="let node">
                <button mat-icon-button disabled></button>
                <a mat-list-item (click)="stockNavigate(node.route)">
                  <span>{{node.name}}</span>
                </a>
              </mat-tree-node>
              <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                <mat-icon>restaurant_menu</mat-icon> <span> {{node.name}}</span>
                <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
                  <mat-icon class="mat-icon-rtl-mirror">
                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                  </mat-icon>
                </button>
              </mat-tree-node>
            </mat-tree>
          </div>

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <button mat-button [matMenuTriggerFor]="beforeMenu" class="btn-person">
          <mat-icon>person</mat-icon> <span>Hi, {{user.username}}</span>
        </button>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
          <button mat-menu-item routerLink="/admin/profile">
            <mat-icon>manage_accounts</mat-icon>
            <span>Change Profile</span>
          </button>
          <button mat-menu-item routerLink="/admin/change-password">
            <mat-icon>lock</mat-icon>
            <span>Change Password</span>
          </button>
          <button mat-menu-item (click)="onLogout()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </mat-toolbar>
      <div style="padding: 1em;">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
