<div class="register">

  <div class="card">
    <div class="title">REGISTER</div>
    <form>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Confirm Password</mat-label>
        <input matInput>
      </mat-form-field>

      <section class="example-section">
        <mat-checkbox class="example-margin" color="primary">It's me!</mat-checkbox>
      </section>

      <button class="btn btn-success btn-sm">
        Submit
      </button>

    </form>
  </div>

</div>
