<div class="edit-product" mat-dialog-content>

  <div class="icon-close" (click)="cancelEditProduct()">
    <mat-icon>close</mat-icon>
  </div>

  <div class="title-edit-product">
    Edit Product
  </div>

  <form [formGroup]="formProduct">
    <div *ngIf="changeImage; else emptyImage" class="mt-3 mb-3">
      <label class="label-image">
        <img [src]="previewImage" alt="no-img">
        <mat-icon (click)="onRemoveImage()">close</mat-icon>
      </label>
    </div>
    <ng-template #emptyImage>
      <label class="label-no-image mt-3 mb-3">
        <img src="assets/image/no-image.png" alt="no-img">
        <input type="file" accept="image/*" (change)="onChangeImage($event)">
        <mat-icon>photo_camera</mat-icon>
      </label>
    </ng-template>

    <mat-form-field appearance="fill">
      <mat-label>Name Product</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Price Product</mat-label>
      <mat-select formControlName="price">
        <mat-option value="{{dataProduct.price}}" disabled hidden>Rp. {{dataProduct.price}},-</mat-option>
        <mat-option value="30000">Rp. 30.000,-</mat-option>
        <mat-option value="35000">Rp. 35.000,-</mat-option>
        <mat-option value="40000">Rp. 40.000,-</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Weight Product</mat-label>
      <mat-select formControlName="weight">
        <mat-option value="{{dataProduct.weight}}">{{dataProduct.weight}}gr</mat-option>
        <mat-option value="500">500gr</mat-option>
        <mat-option value="900">900gr</mat-option>
        <mat-option value="1000">1000gr</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description Product</mat-label>
      <textarea matInput rows="5" formControlName="description"></textarea>
    </mat-form-field>

    <button class="btn btn-success btn-sm" (click)="editProduct()">Save Now</button>
  </form>

</div>
