.change-password{
    .title {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 20px;
      }
    
    .section-change-password{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70vh;
        .card{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 2em;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            width: 24rem;
            height: 24rem;

            .mat-form-field{
                width: 100%;
                .mat-icon{
                    cursor: pointer;
                }
            }

            section{
                font-size: 12px;
                display: flex;
                justify-content: flex-end;
            }

            .btn{
                margin-top: 20px;
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }
    }
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex{
    background-color: #fff;
}