<div class="change-password">

  <div class="title">Setting Password</div>

  <div class="section-change-password">
    <div class="card">

      <form [formGroup]="formChangePassword">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Old Password</mat-label>
          <input matInput [type]="visibilityOldPassword ? 'text': 'password'" autocomplete="on" formControlName="oldPassword">
          <mat-icon matSuffix (click)="onChangeVisibilityPassword('op')">
            {{!visibilityOldPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>New Password</mat-label>
          <input matInput [type]="visibilityNewPassword ? 'text': 'password'" autocomplete="on" formControlName="newPassword">
          <mat-icon matSuffix (click)="onChangeVisibilityPassword('np')">
            {{!visibilityNewPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Confirm New Password</mat-label>
          <input matInput [type]="visibilityNewConfirmPassword ? 'text': 'password'" autocomplete="on" formControlName="newConfirmPassword">
          <mat-icon matSuffix (click)="onChangeVisibilityPassword('cnp')">
            {{!visibilityNewConfirmPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>

        <section class="example-section">
          <mat-checkbox class="example-margin" color="primary">It's true!</mat-checkbox>
        </section>

        <button class="btn btn-success btn-sm" (click)="onChangePassword()">
          Submit
        </button>
      </form>

    </div>
  </div>

</div>
