.delete-team{
    .title {
        text-align: center;
        font-size: 24px;
        font-weight: 500;
      }

      .section-delete{
          margin: 10px;
          text-align: center;
      }
}