.product {
  .title-product {
    font-size: 24px;
    font-weight: 500;
  }

  .mat-form-field {
    font-size: 12px;
    width: 100%;
  }

  .btn-circle{
    border-radius: 100%;
  }

  table {
    width: 100%;
    text-align: center;

    th {
      font-size: 14px;
      color: #111;
    }

    mat-row, mat-header-row, mat-footer-row, th.mat-header-cell, td.mat-cell, td.mat-footer-cell{
      text-align: center;
      border: 1px solid rgb(112, 112, 112);
    }

    td {
      font-size: 12px;
    }

    .image-product {
      width: 50px;
      margin: auto;
    }

    .action-product {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      .icon-action {
        cursor: pointer;
        transition: 0.3s ease;
      }

      .icon-action:hover {
        opacity: 0.7;
      }

      .icon-action:nth-child(1) {
        color: #000080;
      }

      .icon-action:nth-child(2) {
        color: #800000;
      }
    }
  }

  .mat-paginator {
    border: 1px solid rgb(112, 112, 112);
  }
}
